* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #c59d5f;
}

.App {
  width: 65%;
  margin: 2rem auto;
}

.App h1 {
  font-size: 3rem;
  margin: 1.8rem auto 0.5rem auto;
  text-align: center;
}

.App hr {
  width: 8rem;
  margin: auto;
  height: 0.3rem;
  background-color: var(--text);
}

.nav {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  margin: 4rem auto
}

.nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text);
}

.nav .active {
  color: white;
  background-color: var(--text);
  padding: 0.5rem 1.6rem;
  border-radius: 0.8rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: flex-start;
  margin: 2rem 0 0 0;
}

.item {
  display: flex;
  flex-direction: row;
  width: 45%;
  gap: 1rem;
}

.item-img {
  /* width: 40%; */
  width: 20rem;
  height: 15rem;
}

.item-img img {
  width: 100%;
  height: 100%;
  /* width: 15rem; */
  object-fit: cover;
  border: 7px solid var(--text);
  border-radius: 0.8rem;
}

.item-detail {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.item-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px dotted black;
  padding: 0 0 0.7rem 0;
}

.item-name-n {
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.item-name-price {
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  color: var(--text);
}

.item-desc {
  margin: 1rem 0 0 0;
  font-size: 1.2rem;
  color: #617d98;
}

@media screen and (max-width:1800px){
  .nav{
    width: 45%;
  }
}

@media screen and (max-width:1100px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .nav{
    width: 50%;
  }

  .item {
    width: 100%;
    gap: 1rem;
  }

  .item-img {
    /* width: 40%; */
    width: 20rem;
    height: 14rem;
  }

  .item-img img {
    width: 100%;
    height: 100%;
    /* width: 15rem; */
    object-fit: cover;
  }
}

@media screen and (max-width: 885px){
  .nav{
    width: 70%;
  }
}

@media screen and (max-width: 690px){
  .nav{
    width: 90%;
  }

  .item {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }

  .item-img {
    /* width: 40%; */
    width: 24rem;
    height: 16rem;
    margin: auto;
  }

  .item-detail {
    width: 90%;
    margin: auto;
  }

}